<!DOCTYPE html>
<html ng-app="ballerApp" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ballerz</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="js/main.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="ballerController">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>
                    Ballerz
                </a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>
                    Home
                </a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>
                    About
                </a>
            </li>
            <li>
                <a href="#signUp" onclick=$("#menu-close").click();>
                    Sign Up
                </a>
            </li>
            <li>
                <a href="#currentGames" onclick=$("#menu-close").click();>
                    Current Games
                </a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>
                    Contact
                </a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="bigTitle">Ballerz</h1>
            <h3>Find local ballers</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>
                        Ballerz is the best way to find pickup basketball games
                        nearby.
                    </h2>
                    <p class="lead">
                        Write more stuff about the site. 
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="signUp" class="signUp bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="signUp-item">
                    <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-dribbble fa-stack-1x text-primary"></i>
                    </span>
                    </div>
                    <h2>Sign Up</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="signUp-item">
                                <form>
                                    <label> Name
                                        <br>
                                        <input type="text" ng-model="signUp.name"/>
                                    </label>
                                    </br>
                                    <label> Phone Number
                                        <br>
                                        <input type="text" maxlength="10" ng-model="signUp.phone"/>
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="signUp-item">
                                <form>
                                    <label> When are you available?
                                        <br>
                                        <div class="available">
                                        <ul>
                                        <li>
                                        <label>
                                            Sun
                                            <input type="checkbox" ng-model="signUp.available['sun']"/>
                                        </label>
                                        </li>
                                        <li>
                                        <label>
                                            Mon
                                            <input type="checkbox" ng-model="signUp.available['mon']"/>
                                        </label>
                                        </li>
                                        <li>
                                        <label>
                                            Tue 
                                            <input type="checkbox" ng-model="signUp.available['tue']"/>
                                        </label>
                                        </li>
                                        <li>
                                        <label>
                                            Wed
                                            <input type="checkbox" ng-model="signUp.available['wed']"/>
                                        </li>
                                        <li>
                                        <label>
                                            Thur
                                            <input type="checkbox" ng-model="signUp.available['thu']"/>
                                        </label>
                                        </li>
                                        <li>
                                        <label>
                                            Fri
                                            <input type="checkbox" ng-model="signUp.available['fri']"/>
                                        </label>
                                        </li>
                                        <li>
                                        <label>
                                            Sat
                                            <input type="checkbox" ng-model="signUp.available['sat']"/>
                                        </label>
                                        </li>
                                        </div>
                                        </ul>
                                    </label>
                                    <br>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="signUp-item">
                                <form>
                                    <label> What level of play are you looking for?
                                    <br>
                                    <div class="intensity">
                                    <ul>
                                        <li>
                                        <label>
                                            Fun
                                            <input type="checkbox" ng-model="signUp.intensity['fun']"/>
                                        </label>
                                        </li>
                                        <li>
                                        <label>
                                            Intense
                                            <input type="checkbox" ng-model="signUp.intensity['intense']"/>
                                        </label>
                                        </li>
                                        <li>
                                        <label>
                                            Hardcore
                                            <input type="checkbox" ng-model="signUp.intensity['hardcore']"/>
                                        </label>
                                        </li>
                                    </ul>
                                    </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div>
                            <form>
                                <label>
                                    Do you want a text reminder?
                                    <input type="checkbox" ng-model="signUp.reminder"/>
                                </label>
                            </form>
                        </div>
                    </div>
                    <br>
                    <!-- /.row (nested) -->
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="service-item">
                                <a class="btn btn-light" ng-click="submit()">
                                    Submit
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Portfolio -->
    <section id="upcomingGames" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Upcoming Games</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 text-center">
                            <div class="upcomingGame-item">
                                <div ng-repeat="game in upcomingGames">
                                    <h2>{{game.location}}</h2>
                                    <h3>Tipoff at {{game.time}}</h3>
                                    <h3>{{game.intensity}}</h3>
                                    <h3>{{game.numPlayers}} Players</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Ballerz</strong>
                    </h4>
                    <hr class="small">
                    <p class="text-muted">
                        Copyright &copy; Matt &amp; Jeff 2017
                    </p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg">
            <i class="fa fa-chevron-up fa-fw fa-1x"></i>
        </a>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    </script>

</body>

</html>
